body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #222;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    font-size: 3rem;
}